@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenue dans notre Plateforme de Gestion des Cours</h1>


<b>Découvrez notre application de gestion de cours, formateurs et étudiants
Welcome to your new app.</b>

<SurveyPrompt Title="connecter les unites entre eux avec succés ?" />
